<!DOCTYPE html>
<html>
  <head>
    <title>Scenius</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:200,300,400,500,600,700,800" rel="stylesheet">

    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
